.movieCardComponent {
  width: calc((100% / 2) - 24px);
  margin: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;

  .detail {
    padding: 1em;
    position: relative;

    .score {
      font-size: 1.2em;
      font-weight: bold;
    }

    h3 {
      margin: 1em 0 0.2em;
    }

    .date {
      color: #969595;
    }

    p {
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 4.6em;
    }

    .see-more {
      border-top: 1px solid #e3e3e3;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 16px;
      color: grey;
      width: calc(100% - 32px);
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 960px) {
    flex-direction: column;
    width: calc(100% - 24px);

    .poster {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 1em;
    }

    .detail .see-more {
      width: 100%;
      display: inline-block;
      margin: -16px;
      padding: 16px;
      margin-top: 1em;
      position: relative;
    }
  }
}