.movieDetailComponent {
  background-image: radial-gradient(circle at 20% 50%, rgba(3.14%, 14.51%, 40.39%, 0.98) 0%, rgba(3.14%, 14.51%, 40.39%, 0.88) 100%);
  margin: -20px -20px 0;
  padding: 2em 10em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .go-back-link {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 2em;
    font-weight: bold;
    display: flex;

    svg {
      margin-right: 10px;
    }
  }

  .detail {
    padding-left: 3em; 
    position: relative;

    .score {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 2em;
      display: block;
    }

    h1 {
      font-size: 2.5em;
    }

    h2 {
      font-size: 1.5em;
    }

    a {
      color: white;
    }

    .favorite-tag {
      background: #FFA500;
      color: black;
      font-weight: bold;
      font-size: 13px;
      padding: 4px 12px;
      margin-bottom: 1em;
      display: inline-block;
    }

    button {
      padding: 1em;
      font-weight: bold;
      cursor: pointer;
    }

    .movie-detail {
      margin: 1em 0;
      font-size: 0.8em;
      text-transform: capitalize;

      strong {
        font-size: 1.2em;
      }
    }

    p {
      font-size: 1em;
      line-height: 1.5em;
    }
  }

  @media screen and (max-width: 960px) {
    flex-direction: column;
    padding: 2em;

    .poster {
      width: 100%;

      img {
        margin: 0 auto;
        display: block;
      }
    }

    .detail {
      padding-left: 0 ;
      width: 100%;

      a {
        word-break: break-all;
      }
    }
  }

}
