.moviesGridComponent {
  margin-top: 3em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;

  @media screen and (max-width: 960px) {
    flex-direction: column;
  }
}