.movieReviewComponent {
  padding: 1em 10em;

  @media screen and (max-width: 960px) {
    padding: 1em;
  }

  .review-box {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 1em 2em;
    margin: 2em 0;

    h3 {
      text-transform: capitalize;
    }

    p {
      font-size: 14px;
      line-height: 18px;
    }
  }
}