.FavoritesContainer {
  h1 {
    text-align: center;
  }

  .go-back-link {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 2em;
    font-weight: bold;
    display: flex;

    svg {
      fill: #000;
      margin-right: 10px;
    }
  }
  .emptyContent {
    text-align: center;
  }
}
