.HomeContainer {
  h1 {
    text-align: center;
  }

  .favorites-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    display: inline-flex;
    background: black;
    padding: 8px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
